<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Chatbot Stage IA + NLP</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
<h1>Chatbot Stage </h1>
<form id="cvForm">
<input type="file" id="cvFile" accept=".pdf" required>
<button type="submit">Analyser mon CV</button>
</form>
<div id="quizContainer"></div>
<button id="submitQuizBtn" style="display:none;">Soumettre le quiz</button>
<pre id="results"></pre>
</div>
<script src="/static/script.js"></script>
</body>
</html>
